

  .react-datepicker__input-container input {
    width: 120px;
    height: 22px;
    padding: 2px;
    margin: 2px;
    background: #706F6F;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    color: white;
  }


  .react-datepicker-ignore-onclickoutside {
    border: 1px solid #7A5EA6 !important;
    outline: none;
  }

  .react-datepicker {
    background-color: #706F6F;
  }

  .react-datepicker__header {
    height: 60px !important;
    padding: 2px !important;
    margin: 3px !important;
    background-color: #7A5EA6 !important;
    border: none !important;
    position: relative;
    text-align: center;
    font-family: 'MICEGothic Bold';
  }


  .react-datepicker__day-name{
    width: 30px !important;
    font-family: 'MICEGothic Bold';
    font-size: 14px;
    line-height: 30px !important;
    color: black !important;
  }

  .react-datepicker__day {
    width: 30px !important;
    font-family: 'MICEGothic Bold';
    font-size: 14px;
    line-height: 30px !important;
    color: white !important;
  }


  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range {
    background-color: #7A5EA6 !important;
    border-radius: 7px !important;
    color: white !important;
    font-family: 'MICEGothic Bold';
  }

  .react-datepicker__day--range-start {
    background-color: #7A5EA6 !important;
    border-radius: 7px !important;
    color: white !important;
    font-family: 'MICEGothic Bold';
  }